@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navLink{
        @apply hover:underline font-semibold;
    }

    .btn-sm{
        @apply bg-white py-2 px-4 text-black
        text-lg rounded-3xl font-medium hover:text-primary hover:shadow-lg
        hover:shadow-black/50 transition duration-300;
    }
    .btn{
        @apply py-4 px-8 rounded-full text-base lg:text-lg xl:text-xl hover:shadow-lg hover:shadow-black/20
                transition duration-200;
    }
    .btn-white{
        @apply bg-white text-black;
    }
    .btn-black{
        @apply bg-black text-white;
    }
}