*{
    box-sizing: border-box;
}

.main-title{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;

}
.main-section{
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0 0 0;
    
    
    
}

.about-html{
    border: 1px solid gray;
    border-bottom: none;
    
}
.about-puppie{
    border: 1px solid gray;
    border-bottom: none;
    border-left: none;
    display: inline;
}
.about-css{
    border: 1px solid gray;
    border-bottom: none;
    border-left: none;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
}
p{
    padding-left: 5px;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
}


.sub-section{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    display: flex;
    
    
    
}
.about-like{
    border: 1px solid gray;
    border-bottom: none;
    flex-direction: column;
    
    
}
.three-quarter{
    width: 75%;
}

.nav-list{
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size:30px ;
    padding: 25px;
    color: #555;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.item a{
    text-decoration: none;
    color: #555;
}

.item a:hover{
    text-decoration: underline;
}

.item:nth-child(1){background-color: aquamarine;}
.item:nth-child(2){background-color: brown;}
.item:nth-child(3){background-color: rosybrown;}
.item:nth-child(4){background-color: palevioletred;}
.item:nth-child(5){background-color: yellowgreen;}